<p id="notice"><%= notice %></p>

<h1 class = "holoheader">Businesses Near You</h1>

  <div class="row">
    <% @businesses.each do |business| %>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
             <div class="rightytighty">
              <div class="panel panel-default">
                  <%= image_tag("howlocalsmall.png", :alt => "How Local", :class => "holoimgsm") %>
                <h2 class="holocenter"><%= business.holo_score %>
                <% if business.holo_score == nil %>
                  NR
                <% end %>
                </h2>

                </div>
              </div>

            <h1><%= link_to business.name, business %>
                <% if business.verified? %>
                  <%= image_tag "badge-verified.png" %>
                <% end %>
            </h1>
            <p><%= business.address %></p>
          </div>
          <div class="panel-body">
            <h3>Average User Rating: <%= business.average_rating.round(2) %></h3>
            <h4>About <%= business.name %>: <%= business.description[0..10] %>... [<%= link_to "Read More", business %>]</h4>
            <p>Created by: <%= business.user.username %></p>
        <%= link_to 'Show', business %> |
        <% if can? :update, business %>
          <%= link_to 'Edit', edit_business_path(business) %> |
        <% end %>
        <% if can? :destroy, business %>
          <%= link_to 'Destroy', business, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<%= link_to 'New Business', new_business_path, class: "btn btn-primary" %>
