<p id="notice"><%= notice %></p>

<h1>Businesses Near You</h1>

  <div class="row">
    <% @businesses.each do |business| %>
      <div class="col-md-6">
        <div class="well">
        <h1><%= business.name %></h1>
        <p><%= business.street_address %><br />
        <%= business.city %>, <%= business.state %> <%= business.zip %></p>
        <h2>HOLO Score: <%= business.average_rating %></h2>
        <h4>About <%= business.name %>: <%= business.description %></h4>
        <td><%= business.user_id %></td>
        <%= link_to 'Show', business %> | 
        <%= link_to 'Edit', edit_business_path(business) %> | 
        <%= link_to 'Destroy', business, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>
  </div>

<br>

<%= link_to 'New Business', new_business_path %>
