<p id="notice"><%= notice %></p>


  <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="rightytighty">
              <h1>
              <% z = 10 - @business.holo_score.to_i %>
              <%= image_tag("howlocalsmall.png", :alt => "How Local", :class => "holoimg") %>
            </br>
                <% "#{@business.holo_score}".to_i.times do %>
                  <span class="glyphicon glyphicon-leaf"></span>
                <% end %>
                <% z.to_i.times do %>
                  <span class="glyphicon glyphicon-leaf empty"></span>
                  <% end %>
                <br>
                </h1>
            </div>
            <h1><%= @business.name %>
              <% if @business.verified? %>
                <%= image_tag "badge-verified.png" %>
              <% end %>
            </h1>
            <p><%= @business.address %></p>
          </br>
        </br>
          </div>

          <div class="panel-body">
            <p><div id="map-canvas"></div><!-- MAP IS HERE-->
            </p>
            <h3>Average User Rating:</h3> <% @business.average_rating.round.to_i %>
            <% chris = 10 - @business.average_rating.round.to_i %>
                <% "#{@business.average_rating.round}".to_i.times do %>
                  <span class="glyphicon glyphicon-star "></span>
                <% end %>
                <% chris.times do %>
                  <span class="glyphicon glyphicon-star-empty"></span>
                  <% end %>
            <h5>About <%= @business.name %>: <%= @business.description %></h5><br>
          </div>

          <div class="panel-footer">     
            <p>Created by: <%= @business.user.username %></br>
            <% if can? :update, @business %>
              <span class="glyphicon glyphicon-pencil"></span><%= link_to 'Edit', edit_business_path(@business) %> | 
            <% end %>
            <span class="glyphicon glyphicon-arrow-left"></span> <%= link_to 'Back', businesses_path %> |
            <a href="#review_form">Leave a Review</a>
            <br>
            <% if can? :manage, @business%>
              <% if @business.documentation.present? %>
                <h6><%= link_to ("Documentation Here"), @business.documentation.url, :target => "_blank" %></h6>
              <% else %>
                No Documentation
              <% end %>
            <% end %>
            </p>
          </div>
        </div>
      </div>
      <% @business.reviews.each do |review| %>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h1><%= review.title %></h1>
              <% x = 10 - review.user_rating.to_i %>
              <p>
                <% "#{review.user_rating}".to_i.times do %>
                  <span class="glyphicon glyphicon-star"></span>
                <% end %>
                <% x.to_i.times do %>
                  <span class="glyphicon glyphicon-star-empty"></span>
                <% end %>
              </p>
            </div>

            <div class="panel-body">
              <p>
                <h3><%= review.comment[0..20] %>...[<%= link_to "Read More", review %>]</h3>
              </p>
              <p>by:<%= review.user.username %></p>
              <h4><%= link_to 'Show', review %> | 
                <% if can? :update, review %>
                  <%= link_to 'Edit', edit_review_path(review) %>  | 
                <% end %>
                <% if can? :destroy, review %>
                  <%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </h4>
            </div>
          </div>
        </div>
        <%end%>
            <div class="col-md-12">
             <div class="panel panel-default">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-leaf"></span>  Leave a Review:
              </div>
              <div class="panel-body">
              <a name="review_form"> </a>  
              <%= render 'reviews/form' %>
              </div>
              </div>
            </div>
        </div>
    </div>
<br>
<%= javascript_tag do %>
   latitude = '<%= j @business.latitude.to_s %>';
   longitude = '<%= j @business.longitude.to_s %>';
<% end %>