<p id="notice"><%= notice %></p>

  <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1><%= @business.name %></h1>
          </div>
          <div class="panel-body">
            <p>Address: <%= @business.street_address %><br />
            <%= @business.city %>, <%= @business.state %> <%= @business.zip %></p>
            <h2>HOLO Score: <%= @business.average_rating %></h2>
            <h4>About <%= @business.name %>: <%= @business.description %></h4>
            <% if can? :manage, @business%>
              <h4><%= link_to ("Documentation Here"), @business.documentation.url, :target => "_blank" %></h4>
            <% end %>
            <p>Created by: <%= @business.user.username %></p>
            <% if can? :update, @business %>
              <%= link_to 'Edit', edit_business_path(@business) %> | 
            <% end %>
            <span class="glyphicon glyphicon-arrow-left"></span> <%= link_to 'Back', businesses_path %><br>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="glyphicon glyphicon-leaf"></span>  Leave a Review:
          </div>
          <div class="panel-body">
            <%= render 'reviews/form' %>
          </div>
        </div>
      </div>
      <% @business.reviews.each do |review| %>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h1><%= review.title %></h1>
              <% x = 10 - review.holo_score.to_i %>
              <p>HOLO Score:
                <% "#{review.holo_score}".to_i.times do %>
                  <span class="glyphicon glyphicon-star"></span>
                <% end %>
                <% x.to_i.times do %>
                  <span class="glyphicon glyphicon-star-empty"></span>
                <% end %>
              </p>
            </div>
            <div class="panel-body">
              <p>
                <h3><%= review.comment %></h3>
              </p>
              <p>by:<%= review.user.username %></p>
              <h4><%= link_to 'Show', review %> | 
                <% if can? :update, review %>
                  <%= link_to 'Edit', edit_review_path(review) %>  | 
                <% end %>
                <% if can? :destroy, review %>
                  <%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </h4>
            </div>
          </div>
        </div>
      <% end %>
    </div>

<br>
