<p id="notice"><%= notice %></p>

  <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1><%= @business.name %></h1>
          </div>
          <div class="panel-body">
            <p>Address: <%= @business.street_address %><br />
            <%= @business.city %>, <%= @business.state %> <%= @business.zip %></p>
            <h2>HOLO Score: <%= @business.average_rating %></h2>
            <h4>About <%= @business.name %>: <%= @business.description %></h4>
            <p>Created by: <%= @business.user.username %></p>
            <%= link_to 'Edit', edit_business_path(@business) %> | <%= link_to 'Back', businesses_path %>
          </div>
        </div>
      </div>
      <% @reviews.each do |review| %>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1><%= review.title %></h1>
          </div>
          <div class="panel-body">
        <h3><%= review.comment %></h3>
        <h3><%= review.holo_score %></h3>
        <h3><%= review.user.username %></h3>
        <h4><%= link_to 'Show', review %> | <%= link_to 'Edit', edit_review_path(review) %> | <%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></h4>
      </div>
  </div>
  </div>
  <% end %>
</div>

<br>
