<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @business.name %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @business.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @business.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @business.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @business.zip %>
</p>

<p class="cant-see-me">
  <strong>Average rating:</strong>
  <%= @business.average_rating %>
</p>

<p>
  <strong>Description:</strong>
  <%= @business.description %>
</p>

<p> Submitted By: <%= @business.user.username %><br>

<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
