<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_area :title, class: "form-control", placeholder: "Your review's title" %>
  </div>
  <div class="form-group">
    <%= f.label :comment %><br>
    <%= f.text_area :comment, class: "form-control", placeholder: "Your comments" %>
  </div>
  <div class="form-group">
    <%= f.label :holo_score %><br>
    
    <%= f.select :holo_score, ["1","2","3","4","5","6","7","8","9","10"], 
         {:include_blank => 'Rating'}, class: "form-control" %>
  </div>
  <div class="form-group">                     <!-- TODO: (BA) This should not be hidden. Rather a dropdown-->
    <%= f.label "Business" %><br>         <!--       menu or autocomplete field is needed.-->
    <%= f.select(:business_id, @businesses.collect {|a| [ a.name, a.id ] }, 
         {:include_blank => 'Please select a business'}, class: "form-control") %>
  </div>
  <div class="field hidden">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id, value: current_user.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>