<p id="notice"><%= notice %></p>

<h1>Listing Reviews!</h1>


<% @reviews.each do |review| %>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h1><%= review.title %></h1>
              <% x = 10 - review.holo_score.to_i %>
              <p>HOLO Score:
                <% "#{review.holo_score}".to_i.times do %>
                  <span class="glyphicon glyphicon-star"></span>
                <% end %>
                <% x.to_i.times do %>
                  <span class="glyphicon glyphicon-star-empty"></span>
                <% end %>
              </p>
            </div>
            <div class="panel-body">
              <p>
                <h3><%= review.comment %></h3>
              </p>
              <p>by:<%= review.user.username %></p>
              <h4><%= link_to 'Show', review %> | 
                <% if can? :update, review %>
                  <%= link_to 'Edit', edit_review_path(review) %>  | 
                <% end %>
                <% if can? :destroy, review %>
                  <%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </h4>
            </div>
          </div>
        </div>
      <% end %>

<br>

<%= link_to 'New Review', new_review_path %>
