<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

<p>
  <strong>Holo score:</strong>
  <%= @review.holo_score %>
</p>

<p>
  <strong>Business:</strong>
  <%= @review.business.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @review.user.username %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
